<!doctype html>
<html lang="en" class="light-theme">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--favicon-->
  <link rel="icon" href="../../front_assets/img/icon2.png" type="image/jpg" />

  <!-- CSS files -->
  <link href="/front_assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="/front_assets/plugins/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/front_assets/plugins/slick/slick-theme.css" />

  <link href="/front_assets/css/style.css" rel="stylesheet">
  <link href="/front_assets/css/dark-theme.css" rel="stylesheet">

  <title>About Us</title>
  <link href="/front_assets/css/checkout.css" rel="stylesheet">

</head>

<body>

  <!--page loader-->
  <div class="loader-wrapper">
    <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <!--end loader-->

  <!--start top header-->
  <header class="top-header">
    <nav class="navbar navbar-expand-xl w-100 navbar-dark container gap-3">
      <a class="navbar-brand d-none d-xl-inline" href="/">
        <!-- <img src="/front_assets/img/logo.webp" class="logo-img" alt=""> -->
        <%if(logo_img !=null){%>
          <img src="<%=logo_img.logo_image%>" class="logo-img" alt="Not view">
          <%}%>
      </a>
      <a class="mobile-menu-btn d-inline d-xl-none" href="javascript:;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
        <i class="bi bi-list"></i>
      </a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <div class="offcanvas-logo">
            <!-- <img src="/front_assets/img/logo.webp" class="logo-img" alt=""> -->
            <%if(logo_img !=null){%>
              <img src="<%=logo_img.logo_image%>" class="logo-img" alt="Not view">
              <%}%>
          </div>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body primary-menu">
          <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop">Shop</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="https://codervent.com/shopingo/demo/shopingo_V1/tv-shows.html" data-bs-toggle="dropdown">
                Category
              </a>
              <div class="dropdown-menu dropdown-large-menu">
                <div class="row">
                  <div class="col-12 col-xl-4">
                    <h6 class="large-menu-title">Fashion</h6>
                    <ul class="list-unstyled">
                      <li><a href="/product_category/categories/mens-and-boys-fashion">Men's & Boys' Fashion</a>
                      </li>
                      <li><a href="/product_category/categories/womens-and-girls-fashion">Women's & Girls' Fashion</a>
                      </li>
                      <li><a href="/product_category/categories/-and-gadgets">Home & GADGETS</a>
                      </li>
                      <li><a href="/product_category/categories/kitchen-and-dining">kITCHEN & DINING</a>
                      </li>
                      <li><a href="/product_category/categories/health-and-beauty">HEALTH & BEAUTY</a>
                      </li>
                      <li><a href="/product_category/categories/baby-and-kids">BABY & KIDS</a>
                      </li>
                      <li><a href="/product_category/categories/shaver-and-trimmer">SHAVER & TRIMMER</a>
                      </li>
                      <li><a href="/product_category/categories/electronics">ELECTRONICS</a>
                      </li>
                    </ul>
                  </div>

                  <!-- end col-3 -->
                  <!-- <div class="col-12 col-xl-4">
                  <h6 class="large-menu-title">Electronics</h6>
                  <ul class="list-unstyled">
                    <li><a href="javascript:;">Mobiles</a>
                    </li>
                    <li><a href="javascript:;">Laptops</a>
                    </li>
                    <li><a href="javascript:;">Macbook</a>
                    </li>
                    <li><a href="javascript:;">Televisions</a>
                    </li>
                    <li><a href="javascript:;">Lighting</a>
                    </li>
                    <li><a href="javascript:;">Smart Watch</a>
                    </li>
                    <li><a href="javascript:;">Galaxy Phones</a>
                    </li>
                    <li><a href="javascript:;">PC Monitors</a>
                    </li>
                  </ul>
                </div> -->
                  <!-- end col-3 -->
                  <div class="col-12 col-xl-4 d-none d-xl-block">
                    <div class="pramotion-banner1">
                      <img src="/front_assets/img/menu-img.jpg" class="img-fluid" alt="" />
                    </div>
                  </div>
                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
            </li>



            <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
              Shop
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="cart.html">Shop Cart</a></li>
              <li><a class="dropdown-item" href="wishlist.html">Wishlist</a></li>
              <li><a class="dropdown-item" href="/product_details">Product Details</a></li>
              <li><a class="dropdown-item" href="payment-method.html">Payment Method</a></li>
              <li><a class="dropdown-item" href="billing-details.html">Billing Details</a></li>
              <li><a class="dropdown-item" href="address.html">Addresses</a></li>
              <li><a class="dropdown-item" href="shop-grid.html">Shop Grid</a></li>
              <li><a class="dropdown-item" href="shop-grid-type-4.html">Shop Grid 4</a></li>
              <li><a class="dropdown-item" href="shop-grid-type-5.html">Shop Grid 5</a></li>
              <li><a class="dropdown-item" href="search.html">Search</a></li>
            </ul>
          </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/about_us">About Us</a>
            </li>
            <!-- <li class="nav-item">
            <a class="nav-link" href="contact-us.html">Contact</a>
          </li> -->



            <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
              Blog
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
              <li><a class="dropdown-item" href="blog-read.html">Blog Read</a></li>
            </ul>
          </li> -->

          </ul>
        </div>
      </div>
      <ul class="navbar-nav secondary-menu flex-row">
        <li class="nav-item">
          <a class="nav-link dark-mode-icon" href="javascript:;">
            <div class="mode-icon">
              <i class="bi bi-moon"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="bi bi-search"></i></a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link" href="wishlist.html"><i class="bi bi-suit-heart"></i></a>
      </li> -->

        <!-- <li class="nav-item" data-bs-toggle="modal" data-bs-target="#checkoutModal"> -->
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
          <a class="nav-link position-relative" href="javascript:;">
            <% let cart_total=locals.session.cart||[]%>

              <% if(cart_total.length>0){%>
                <div class="cart-badge">
                  <%=cart_total.length%>
                </div>
                <%}else{%>
                  <div class="cart-badge">0</div>
                  <%}%>

                    <i class="bi bi-basket2"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href=""><i class="bi bi-person-circle"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <!-- <a class="nav-link lowercase" href="/logout">SessionOut</a> -->
        </li>
      </ul>
    </nav>
  </header>
  <!--end top header-->


  <!--start page content-->
  <div class="page-content">


    <!--start breadcrumb-->
    <div class="py-4 border-bottom">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
    <!--end breadcrumb-->


    <!--start product details-->
    <section class="section-padding">
      <div class="container">
        <div class="row g-4">
          <div class="col-12 col-xl-6 col-md-6 col-lg-6">
            <h3 class="fw-bold">Our Story</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
              centuries.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
              centuries.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
              centuries.</p>
          </div>
          <div class="col-12 col-xl-6 col-md-6 col-lg-6">
            <img src="https://images.pexels.com/photos/7679877/pexels-photo-7679877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="">
          </div>
        </div><!--end row-->

        <div class="separator section-padding">
          <div class="line"></div>
          <h3 class="mb-0 h3 fw-bold">Why Choose Us</h3>
          <div class="line"></div>
        </div>

        <div class="row row-cols-1 row-cols-xl-3 g-4 why-choose">
          <div class="col d-flex">
            <div class="card rounded-0 shadow-none w-100">
              <div class="card-body">
                <img src="images/icons/delivery.webp" width="60" alt="">
                <h5 class="my-3 fw-bold">Free Shipping</h5>
                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr in some form.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card rounded-0 shadow-none w-100">
              <div class="card-body">
                <img src="images/icons/money-bag.webp" width="60" alt="">
                <h5 class="my-3 fw-bold">100% Back Gaurantee</h5>
                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr in some form.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card rounded-0 shadow-none w-100">
              <div class="card-body">
                <img src="images/icons/support.webp" width="60" alt="">
                <h5 class="my-3 fw-bold">Online Support 24/7</h5>
                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr in some form.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="separator section-padding">
          <div class="line"></div>
          <h3 class="mb-0 h3 fw-bold">Shop By Brands</h3>
          <div class="line"></div>
        </div>

        <div class="brands">
          <div class="row row-cols-2 row-cols-lg-5 g-4">
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/01.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/02.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/03.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/04.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/05.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/06.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/07.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/08.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/09.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="javascript:;">
                    <img src="../../front_assets/img/brands/10.webp" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>

      </div>
    </section>
    <!--start product details-->

  </div>
  <!--end page content-->


  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">

          <div class="footer-widget-6">
            <!-- <img src="images/logo.webp" class="logo-img mb-3" alt=""> -->
            <%if(logo_img !=null){%>
              <img src="<%=logo_img.logo_image%>" class="logo-img" alt="Not view">
              <%}%>
                <h5 class="mb-3 fw-bold">About Us</h5>
                <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. dolores! At quasi est minima dolores nostrum quos odit nobis officia quas rerum excepturi, velit quidem vel perferendis amet unde?.</p>

                <a class="link-dark" href="javascript:;">Read More</a>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
            <h5 class="mb-3 fw-bold">Explore</h5>
            <ul class="widget-link list-unstyled">
              <li><a href="javascript:;">Fashion</a></li>
              <li><a href="javascript:;">Women</a></li>
              <li><a href="javascript:;">Furniture</a></li>
              <li><a href="javascript:;">Shoes</a></li>
              <li><a href="javascript:;">Topwear</a></li>
              <li><a href="javascript:;">Brands</a></li>
              <li><a href="javascript:;">Kids</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Company</h5>
            <ul class="widget-link list-unstyled">
              <li><a href="javascript:;">About Us</a></li>
              <li><a href="javascript:;">Contact Us</a></li>
              <li><a href="javascript:;">FAQ</a></li>
              <li><a href="javascript:;">Privacy</a></li>
              <li><a href="javascript:;">Terms</a></li>
              <li><a href="javascript:;">Complaints</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Follow Us</h5>
            <div class="social-link d-flex align-items-center gap-2">
              <a href="javascript:;"><i class="bi bi-facebook"></i></a>
              <a href="javascript:;"><i class="bi bi-twitter"></i></a>
              <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
              <a href="javascript:;"><i class="bi bi-youtube"></i></a>
              <a href="javascript:;"><i class="bi bi-instagram"></i></a>
            </div>
            <div class="mb-4 mt-4">
              <h5 class="mb-0 fw-bold">Support</h5>
              <p class="mb-0 text-muted">support@example.com</p>
            </div>
            <div class="">
              <h5 class="mb-0 fw-bold">Toll Free</h5>
              <p class="mb-0 text-muted">1800- 8xx 2xx</p>
            </div>
          </div>
        </div>
      </div><!--end row-->
      <div class="my-5"></div>
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h5 class="fw-bold mb-3">Download Mobile App</h5>
          </div>
          <div class="app-icon d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2">
            <div>
              <a href="javascript:;">
                <img src="images/play-store.webp" width="160" alt="">
              </a>
            </div>
            <div>
              <a href="javascript:;">
                <img src="images/apple-store.webp" width="160" alt="">
              </a>
            </div>
          </div>
        </div>
      </div><!--end row-->

    </div>
  </section>
  <!--end footer-->

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.ztrios.com | All rights reserved.</p>
  </footer>

  <!--right cart-->
  <div class="offcanvas offcanvas-end cart_modal" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-section-2">
      <h5 class="mb-0 fw-bold cartCount" id="offcanvasRightLabel"></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="cart-list">
        <div class="bg-dark text-center">
          <div class="text-white px-5 py-3" style="">SHOPPING CART</div>
        </div>

        <!-- Access the cart data in your EJS file -->
        <div class="d-flex align-items-center justify-content-around mt-3 text-dark bg-light p-3">
          <span>Product Image</span>
          <span>Name</span>
          <span>Quantity</span>
          <span>Price</span>
          <span>Total</span>
          <span>Action</span>
        </div>


        <!-- <table>
            <thead class="mt-3">

                <th class="text-dark text-center">Product Image</th>
                <th class="text-dark text-center">Name</th>
                <th class="text-dark text-center">Quantity</th>
                <th class="text-dark text-center">Price</th>
                <th class="text-dark text-center">Total</th>
                <th class="text-dark text-center">Action</th>
            </thead>
            <tbody>
                <td></td>

            </tbody>

        </table> -->

        <% const cart=locals.session.cart || []; %>
          <% if (cart.length> 0) { %>
            <!--If cart is not empty, render each product -->
            <% cart.forEach(product=> { %>
              <div class="d-flex align-items-center gap-3 mt-3 d-flex align-items-center justify-content-around " id="productcartContainer_<%=product.id%>">

                <div class="bottom-product-img ms-4 mb-3">
                  <a href="/product_details">
                    <img src="<%= product.primary_image %>" width="60" alt="<%= product.name %>">
                  </a>
                </div>
                <div class="ms-4 mb-3">
                  <h6 class="mb-0 fw-light mb-1">
                    <span>
                      <% const maxWords=2;%>
                        <% const words=product.name.split(' '); %>
                                                                        <%const numWords = words.length;%>
                                                                        <%console.log(numWords)%>
                    
                                                                        <% const truncatedName = words.slice(0, maxWords).join(' ');%>
                                                                        <% const remainingText = words.slice(maxWords).join(' ');%>
                                                                       <%= numWords < maxWords ? truncatedName : truncatedName + ' ..' %>
                    </span>
                  </h6>
                  <!-- <p class="mb-0"><strong>1 X ৳<%= product.selling_price %></strong></p> -->
                </div>

                <div class="d-flex justify-center md:w-1/5  mr-2 mb-3 ms-3">
                  <span onclick="change_quantity_value('plus',<%= product.id %>, this )" class="px-3 py-2 font-bold border hover:border-gray-800">+</span>
                  <span class="quantity-counter p-2" id="input">
                    <%= product.quantity %>
                  </span>
                  <span onclick="change_quantity_value('minus',<%= product.id %>, this )" class="px-3 py-2 font-bold border hover:border-gray-800">-</span>
                </div>
                <div class="ms-3 mb-3">
                  <span>
                    <%= product.selling_price %>
                  </span>

                </div>
                <div class="ms-3 mb-3" id="total_<%= product.id%>">
                  <span>
                    <%= product.total %> TK
                  </span>

                </div>
                <div class="fs-5 me-2 mb-3">
                  <span class="link-dark" onclick="deleteSessionProduct(<%= product.id%>)"><i class="bi bi-trash"></i></span>
                </div>

              </div>
              <hr>
              <% }); %>
                <% } else { %>
                  <!-- If cart is empty, display a message or alternative content -->
                  <p></p>
                  <% } %>
      </div>
    </div>
    <div class="offcanvas-footer p-3 border-top" onclick="calculate_subtotal()">
      <div class="d-grid">
        <div type="" class="btn btn-lg btn-dark btn-ecomm px-5 py-3" data-bs-toggle="offcanvas" data-bs-target="#checkoutModal">Checkout</div>
      </div>
    </div>

  </div>
  <!--end right cart-->

  <!-- checkout  modal -->
  <div class="none_modal offcanvas offcanvas-end cart_modal checkoutModalnew" data-bs-scroll="true" tabindex="-1" id="checkoutModal" aria-labelledby="offcanvasRightLabel">
    <!-- <span class="checkoutClose" onclick="checkoutNone()">&times;</span> -->
    <div class="offcanvas-header bg-section-2 d-none">
      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>

    <div class="offcanvas-body">

      <div class="cart-list">

        <!-- Modal content -->
        <div class="modal-contentCheckout">
          <!-- <span class="checkoutClose" onclick="checkoutNone()">&times;</span> -->

          <!-- <p>Some text in the Modal..</p> -->
          <div class="backContent movable-card" id="phoneModal" style="cursor: move;">

            <div class="leftSection" id="phone_2nd">
              <div class="contactContainer">

                <style>
                  .btn-close {
                    color: white !important;
                    opacity: unset;
                  }

                  .offcanvas-header {
                    border-bottom: #146FB6;
                  }
                </style>

                <div class="contactHead d-flex justify-content-between desktop-checkout-title">
                  <span class="headTitle">Checkout</span>
                  <div class="offcanvas-header bg-section-0">
                    <h5 class="mb-0 fw-bold" id="offcanvasRightLabel"></h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
                  <!-- <span class="checkoutClose">&times;</span> -->
                </div>
                <div class="rightSection " id="phone_1st">
                  <div class="contactContainer mobile-checkout-title" style="display: none;">
                    <style>
                      .btn-close {

                        opacity: unset;
                      }

                      .offcanvas-header {
                        border-bottom: #146FB6;
                      }
                    </style>

                    <div class="contactHead d-flex justify-content-between ">
                      <span class="headTitle">Checkout</span>
                      <div class="offcanvas-header bg-section-0">
                        <h5 class="mb-0 fw-bold" id="offcanvasRightLabel"></h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
                      <!-- <span class="checkoutClose">&times;</span> -->
                    </div>
                  </div>

                  <h5 style="text-decoration: ;" class="ms-2">Total Amount</h5>
                  <hr style="">
                  <div class="itemContainer">
                    <div class="addItem addCard">

                      <div class="addCardText">
                        <div class="mb-2"> Subtotal: 00.00 TK</div>
                        <div class="mb-2"> Delivery: 00 TK</div>
                        <!-- <div class="mb-3"> Discount: 10%</div> -->
                      </div>
                    </div>

                  </div>
                  <div class="totalPrice">
                    <span>Total: </span>
                    <span id="total_amount"> 00.00 <span>&#2547;</span></span>
                  </div>
                </div>

                <div>
                  <div class="contactBody">
                    <div class="bodyHead" id="createScroll">
                      <span class="userIcon"> <i class='bx bx-user'></i></span>

                      <h5 style="text-decoration: ;" class="text mb-2">Contact Details</h5>
                    </div>
                    <div class="inputInformation">
                      <div class="phone-container">
                        <input type="text" name="mobile" id="mobile" autocomplete="off" placeholder="১১ ডিজিটের মোবাইল নাম্বারটি লিখুন।" class="text-input" required>
                        <!-- <label for="phone" class="lavel phone-lavel">Phone Number</label> -->
                        <div class="setCodeDropdown">
                          <div class="phoneDropdown">
                          </div>
                        </div>
                      </div>
                      <div class="input-container mt-3">
                        <input type="text" name="email" id="email" autocomplete="off" placeholder="ইমেইল নামটি লিখুন" class="text-input">
                        <label for="email" class="lavel">Email</label>
                      </div>
                      <div class="bodyHead mb-2">
                        <span class="userIcon"> <i class='bx bx-map'></i></span>
                        <!-- <span class="text">Delivery Information</span> -->
                      </div>
                      <div class="input-container">
                        <input type="text" name="customer_name" id="fullName" autocomplete="off" placeholder="সম্পূর্ণ নামটি লিখুন" class="text-input">
                        <label for="fullName" class="lavel full-name">Full Name</label>
                      </div>


                      <div class="input_dropdown">
                        <div>
                          <!-- <span>left site</span> -->
                          <div class="checkoutDropdown">
                            <div class="select" id="textColoSet">
                              <input class="d-none" type="text" id="delivery_charge" name="delivery_charge" required>
                              <span class="mimi22">Select</span>
                              <div class="caret"></div>
                            </div>

                            <ul class="menu">
                              <li id="city1" class="active" onclick="setDeliveryCharge(60)">ঢাকা সিটির ভিতরে হোম ডেলিভারি (60Tk)
                              </li>
                              <li id="city2" class="active" onclick="setDeliveryCharge(150)">ঢাকা সিটির বাহিরে হোম ডেলিভারি (150Tk)</li>
                            </ul>
                          </div>
                        </div>
                        <div>
                          <!-- <span>right site</span> -->
                          <!-- <div class="input-container">
                                                                                                                                      <input type="text" name="city" id="City" autocomplete="off" placeholder="" class="text-input">
                                                                                                                                          <label for="City" class="lavel City-name">City</label>
                                                                                                                                  </div> -->
                        </div>
                      </div>
                      <!-- <div class="input-container mb-3">
                                                                                                                              <input type="text" name="houseNumber" id="HouseNumber" autocomplete="off" placeholder="" class="text-input">
                                                                                                                                  <label for="HouseNumber" class="lavel house-number">House Number</label>
                                                                                                                          </div> -->
                      <div style="margin-bottom: 20px;" class="input-container">
                        <input type="text" name="address" id="areaSector" autocomplete="off" placeholder="সম্পূর্ণ ঠিকানা লিখুন" class="text-input">
                        <label for="areaSector" class="lavel area-sector">Area /Address</label>
                      </div>
                      <span style="color: #3e68af;"><i class='bx bx-plus'></i> Add Landmark <span style="color: #9b9c9d;" class="optonal">(Optional)</span></span>
                      <div class="address-check">
                        <input type="checkbox" name="addressCheck" id="addressCheck">
                        <label for="addressCheck">Billing and delivery address same.</label>
                      </div>

                    </div>
                  </div>
                  <div class="contactFooter" onclick="orderList()">
                    <!-- <h4 class="btnPrice">193,000<span>&#2547;</span></h4> -->
                    <button type="" class="ProceedBtn">Submit Order</button>
                  </div>
                </div>
              </div>
            </div>



          </div>


          <!-- drag cursor js -->
          <script>
            let isDragging = false;
            let initialX;
            let initialY;
            let currentX;
            let currentY;

            const card = document.getElementById('phoneModal');

            card.addEventListener('mousedown', (e) => {
              isDragging = true;
              initialX = e.clientX;
              initialY = e.clientY;
            });

            document.addEventListener('mousemove', (e) => {
              if (!isDragging) return;
              currentX = e.clientX - initialX;
              currentY = e.clientY - initialY;

              card.style.transform = `translate(${currentX}px, ${currentY}px)`;
            });

            document.addEventListener('mouseup', () => {
              isDragging = false;
            });

          </script>
        </div>
      </div>
    </div>

  </div>
  <!-- checkout  modal end-->

  <!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
  <!--End Back To Top Button-->


  <!-- JavaScript files -->
  <script src="/front_assets/js/bootstrap.bundle.min.js"></script>
  <script src="/front_assets/js/jquery.min.js"></script>
  <script src="/front_assets/plugins/slick/slick.min.js"></script>
  <script src="/front_assets/js/main.js"></script>
  <script src="/front_assets/js/loader.js"></script>

  <script src="../../front_assets/js/axios_post.js"></script>

  <!--  checkout js-->
  <script>

    // When the user clicks on the button, open the modal
    // btn.onclick = function () {
    //   console.log(modal.style);
    //   modal.style.display = "";
    // };

    // When the user clicks on <span> (x), close the modal
    // span.onclick = function() {
    //   modal.style.display = "none";
    // }

    // When the user clicks anywhere outside of the modal, close it

    // window.onclick = function(event) {
    //   if (event.target == modal) {
    //     modal.style.display = "none";
    //   }
    // }
    // let checkoutNone = () => {
    //   modal.style.display = "none";
    // };

    // javaScript for dropdown menu
    // for dropdown option
    let dropdowns = document.querySelectorAll(".checkoutDropdown");
    // console.log(dropdowns);

    dropdowns.forEach((dropdown) => {
      let select = dropdown.querySelector(".select");
      let caret = dropdown.querySelector(".caret");
      let menu = dropdown.querySelector(".menu");
      let options = dropdown.querySelectorAll(".menu li");
      let selected = dropdown.querySelector(".selected");
      let mimi22 = dropdown.querySelector(".mimi22");

      select.addEventListener("click", () => {
        select.classList.toggle("select-clicked");
        caret.classList.toggle("caret-rotate");
        menu.classList.toggle("menu-open");
      });

      options.forEach((option) => {
        let deliveryPrice = document.getElementById('delivery_charge')
        option.addEventListener("click", () => {
          console.log('like option', option.textContent, deliveryPrice, selected);
          mimi22.innerText = option.textContent;
          if (option.getAttribute('id') === 'city1') {
            console.log("log 1 ==");
            deliveryPrice.value = 60;
          }
          else if (option.getAttribute('id') === 'city2') {
            console.log("log 2 ==");
            deliveryPrice.value = 150;
          }
          if (mimi22.innerText == option.textContent) {
            if (mimi22.innerText == "Delivery address") {
              document.getElementById("textColoSet").style.color = "#9b9c9d";
            } else {
              document.getElementById("textColoSet").style.color = "black";
            }
          }
          select.classList.remove("select-clicked");
          caret.classList.remove("caret-rotate");
          menu.classList.remove("menu-open");

          options.forEach((option) => {
            option.classList.remove("active");
          });

          option.classList.add("active");
        });
      });
    });

    // for country code  option
    let codeDropdowns = document.querySelectorAll(".phoneDropdown");

    codeDropdowns.forEach((dropdown) => {
      let select = dropdown.querySelector(".countrySelect");
      let caret = dropdown.querySelector(".countryCaret");
      let menu = dropdown.querySelector(".countryMenu");
      let options = dropdown.querySelectorAll(".countryMenu li");
      let selected = dropdown.querySelector(".countrySelected");

      select.addEventListener("click", () => {
        select.classList.toggle("select-clicked");
        caret.classList.toggle("caret-rotate");
        menu.classList.toggle("menu-open");
      });

      options.forEach((option) => {
        option.addEventListener("click", () => {
          console.log("inner text test", option.innerText);
          selected.innerText = option.innerText;
          select.classList.remove("select-clicked");
          caret.classList.remove("caret-rotate");
          menu.classList.toggle("menu-open");

          options.forEach((option) => {
            option.classList.remove("active");
          });

          option.classList.add("active");
        });
      });
    });

    // scroll bar

    var $doc = $("#createScroll");
    var $win = $(window);
    var itemstoshow = 5;

    $(".infinite")
      .filter(function (index) {
        return $(this).offset().top > $win.height();
      })
      .hide();

    $(window).scroll(function () {
      if ($doc.height() - $win.height() - $(this).scrollTop() == 0) {
        $(".infinite:hidden:lt(" + itemstoshow + ")").show();
      }
    });

    // mediaQuery and responsive
    let ovearflows = document.querySelectorAll(".addCardText p");

    const mediaQuery1300 = window.matchMedia("(max-width: 1300px)");

    ovearflows.forEach((ovearflow) => {
      if (ovearflow.innerHTML.length > 90) {
        ovearflow.textContent = ovearflow.textContent.slice(0, 90) + " .";
      }

      if (mediaQuery1300.matches) {
        console.log("match");
        if (ovearflow.innerHTML.length > 71) {
          ovearflow.textContent = ovearflow.textContent.slice(0, 71) + " .";
        }
      }
    });

    const mediaQuery750 = window.matchMedia("(max-width: 750px)");

    if (mediaQuery750.matches) {
      let phoneModal = document.getElementById("phoneModal");
      let phone_2nd = document.getElementById("phone_2nd");
      let phone_1st = document.getElementById("phone_1st");
      phoneModal.insertBefore(phone_1st, phone_2nd);
    }
  </script>

  <!-- increment or decrement input css -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- add product to the cart dynamically -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>